*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.center{
    text-align: center;
}

.container{
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-family: tahoma;
    
}
.background-img{
    width: 100%;   
}
 .main{
    width: 27%;         
    padding-bottom: 30px;
    position: absolute;
    top: 140px;
    left: 504px;  
    border-radius: 30px;  
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}
.main-img{
    width: 100%;
    height: 190.08px;
    background-color: chartreuse;
}
.main-img img{
    width: 100%;
    height: auto;
}
.main-element{
    width: 100%;
    padding: 20px 40px 5px 40px;
    box-sizing: border-box;
}

.price-container
{
    height: 120px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color:hsl(225, 100%, 98%);
    border-radius: 15px;
}
.price{
    height: 160px;
}
.price-left{
    width: 15%;
    height: 100px;
    float: left;
    line-height: 100px;
    position: relative;
}
.price-left img{
    position: absolute;
    top: 25px;
}
.price-right{
    width: 85%;
    height: 100px;
    float: left;
    position: relative;
    padding: 30px 20px;    
    box-sizing: border-box;
}
.price-right-title{
    margin-bottom: 5px;
    box-sizing: border-box;
}
.change-price{
    position: absolute;
    right: 0;
    bottom: 40px;
}
.change-price a{
    text-decoration: underline;
}
.dark-blue-element{
    background-color: hsl(245, 75%, 52%);
    color: #ffffff;
    width: 308.8px;
    margin: 0 auto;
    height: 60px;
    border-radius: 15px;
}
.dark-blue-element a{
    color: #ffffff;
}
.first-element{
    font-size: 18px;
    color: hsl(223, 47%, 23%);
}